#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.list-item-img{
  width:340px;
}

.details-item-img{
  width:450px;
}

.alcoholic-designation{
  color:orange;
}

.recipe-list{
  list-style: none;
}
