body{
  margin:0;
  padding:0;
  background-color: #832727;
}

#root {
  margin:0 auto;
  text-align: center;
  padding: 0;
}

.home {
  display: flex;
}

.landing-image {
  height: 50vh;
}

.welcome {
  background-color: #4f4b4b;
  border: white solid 1px;
  border-radius: 5px;
  
}


.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  color: #4F4B4B;
  background-color: #CACACA;
  width:100vw;
  padding:10px 40px;
  box-sizing: border-box;
  margin: 0;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link{
  margin-left:30px;
}
