body{
  margin:0;
  padding:0;
  background-color: #832727;
  color:#CACACA;
}

#root {
  margin:0 auto;
  text-align: center;
  padding: 0;
}

.home {
  display: flex;
}

.landing-image {
  height: 50vh;
}

.welcome {
  background-color: #4f4b4b;
  border: white solid 1px;
  border-radius: 5px;
  
}

.container{
  margin-top:250px;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
}
.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  color: #4F4B4B;
  background-color: #CACACA;
  width:100vw;
  padding:10px 40px;
  box-sizing: border-box;
  margin: 0;
  position: fixed;
  top: 0;
  left:0;
}

.logo{
  font-size:2rem;
  font-weight:500;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form{
  display: flex;
  margin-left:40px;
}

input{
  height:40px;
  width:300px;
  border-radius: 2%;
}

.submit-button{
  margin-left:20px;
}

.link{
  margin-left:30px;
}

.allDrinks{
  margin-top:200px;
}

.details{
  margin-top:200px;
}

.list-item{
  border:3px solid #CACACA;
}

.list-item-img{
  width:450px;
}
